@import '../../../styles/global.scss';

.button {
    display: flex;
    padding: 0.9375rem;
    justify-content: center;
    align-items: center;
    font-size: var(--button-size);
    font-weight: 700;

    border-radius: 0.3125rem;
    border: 2px solid;

    transition: linear 0.1s;

    &.black {         
        background-color: transparent;
        color: $black;
        border-color: $black;

        &.selected {
            background-color: $black;
            color: $white;
        }

        &:hover {
            background-color: $black;
            color: $white;
            cursor: pointer;
        }
    }

    &.white {
        background-color: transparent;
        color: $white;
        border-color: $white;

        &.selected {
            background-color: $white;
            color: $black;
        }

        &:hover {
            background-color: $white;
            color: $black;
            cursor: pointer;
        }
    }


}